/* styles.css */

/*Define colors*/
:root {
    --borderc: #ddd; /* Primary color */
    --csc: #38cffd; /* Secondary color */
	--lcsc: #a5e9fe;
    --pac: #f08700; /* Background color */
	--lpac: #f8c380; 
    /*--text-color: #000; /* Text color */
}
/* Style the navigation menu */
nav {
    width: 100%; /* Set the width to 100% */
    background-color: var(--borderc); /* Add background color */
    display: flex; /* Use flexbox to manage layout */
}

.nav-links {
    list-style-type: none; /*remove bullet points*/
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox for list items */
    width: 100%; /* Make sure the list takes the full width */
}

.nav-links li {
    flex: 1; /* Each list item takes an equal portion of the width */
}

.nav-links li a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    display: block; /* Ensure the entire area of the list item is clickable */
    text-align: center; /* Center-align the text */
}

/* Style Computer Sciences link */
.nav-links li:first-child a {
    background-color: var(--csc);
	color: black;
}

/* Style Pastry link */
.nav-links li:last-child a {
    background-color: var(--pac);
    color: white;
}

main {
    text-align: left; /* Align text to the left */
	width: 75%; /* Set the width to two-thirds of the viewport width */
    margin: 0 auto; /* center the block */
	padding: 15px; /*create margin for the text*/
	background-color: white;
}

/* Center images within the main section */
main img {
    display: block; /* Ensure images are treated as block elements */
    margin: 0 auto; /* Center-align images horizontally */
}

/* Justify text within the main section */
main p {
    text-align: justify; /* Justify text */
}

main h2 {
	text-align : center;
	font-size : 40px;
	font-family : serif;
}

footer{
	background-color: var(--borderc);
	padding-left : 20px;
	padding-bottom: 15px;
	/*padding-top: 10px;*/
}

body {
    background-color: var(--borderc);
	margin : 0;
}